<ul fxLayout fxLayoutGap="10px" class="navigation-items">
  <li *ngIf="!isAuth">
    <a class="toolbar-content" routerLink="signup">Signup</a>
  </li>
  <li *ngIf="!isAuth">
    <a class="toolbar-content" routerLink="login">Login</a>
  </li>
  <li *ngIf="isAuth">
    <a class="toolbar-content" routerLink="training">Training</a>
  </li>
  <li *ngIf="!isAuth">
    <a class="toolbar-content" routerLink="articles">Articles</a>
  </li>
  <li *ngIf="isAuth">
    <a class="toolbar-content" (click)="logout()">Logout</a>
  </li>
</ul>

